
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}

.page {
    margin: 0 auto;
    background-color: #E5E5E5;
    max-inline-size: 1920px;
}


/* ------------------------------- HEADER ------------------------------- */
.header {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    padding: 28px 41px 0;
}

/* --------------- logo */
.logo {
    display: flex;
    align-items: flex-end;
    gap: 7px;
    inline-size: fit-content;
}

.logo__icon {
    color: transparent; 
    background-clip: text;
    inline-size: 24.5px;
    block-size: 50px;
}

.logo__text {
    color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 80.5%;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-image: linear-gradient(rgba(255, 255, 255, 1) 70%, rgb(1 131 148) 100%);
    background-clip: text;
    text-wrap: wrap;
    inline-size: 150px;
}

/* --------------- menu */
.header__menu {
    display: flex;
    gap: 61px;
    margin-inline-start: -20px;
    padding-block-start: 20px;
}

.menu__link {
    color: #FFF;
    font-family: 'DM-Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

/* --------------- buttons-box */
.header__action-buttons-box {
    display: flex;
    justify-self: flex-end;
    gap: 30px;
    margin-inline-end: 90px;
    margin-block-start: -5px;
}

.header__button {
    border: transparent;
    background: transparent;
    cursor: pointer;
}


/* ------------------------------- HERO ------------------------------- */
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 197px;
    margin-block-start: -78px;
    padding: 265px 0 0 280px;
    background: url(./images/hero-cover.png) no-repeat top / cover;
}

/* --------------- decor */
.decor {
    position: absolute;
    top: 233px;
    left: 63px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 237px;
}

.decor__header-box {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.decor__line {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline-start: -4px;
}

.decor__accent-item {
    background-color: var(--color-accent);
    inline-size: 4px;
    block-size: 100px;
}

.decor__light-item {
    background-color: #FFF;
    inline-size: 2px;
    block-size: 296px;
}

.decor__text {
    margin-inline-start: 2px;
    color: #FFF;
    font-family: 'DM-Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    transform: rotate(-90deg);
    inline-size: min-content;
}

.decor__footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}
/* --------------------- */


.hero__header-box {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.hero__title {
    margin-inline-start: -2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 120px;
    line-height: 130px;
    text-transform: uppercase;
    inline-size: 627px;
}

.hero__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 211px;
    padding: 28px 62px;
    color: #FFF;
    font-family: 'DM-Sans';
    font-weight: 700;
    font-size: 20px;
    background-color: var(--color-accent);
    cursor: pointer;
    inline-size: fit-content;
}

.hero__footer-box {
    position: relative;
    z-index: 1;
}

.hero__content {
    display: flex;
}

/* --------------- cards */
.cards-list {
    display: flex;
    gap: 198px;
    margin-block-start: 44px;
    padding: 78px 127px 37px 71px;
    background-color: rgba(0000, 0000, 0000, 0.6);
    counter-reset: card-counter;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #FFF;
    counter-increment: card-counter;
}

.card::before {
    content: counter(card-counter, decimal-leading-zero);
    position: absolute;
    top: -37px;
    left: 0;
    color: var(--color-accent);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.card__title {
    font-family: 'DM-sans';
    font-weight: 700;
    font-size: 26.4px;
}

.card__text {
    color: #939393;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
}

/* --------------- video */
.video-container {
    block-size: 255px;
    inline-size: 635px;
}

.video {
    border: 0;
}


/* ------------------------------- OFFERS ------------------------------- */
.section-offers__header {
    position: relative;
    padding: 207px 340px 97px;
    background-image: 
    linear-gradient(rgb(1 10 32 / 85%), rgb(1 10 32) 100%),
    url(./images/offers-image-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-offers__footer {
    position: relative;
    padding: 95px 300px 305px;
    background-image: 
    linear-gradient(rgb(1 10 32), rgb(1 10 32 / 90%) 100%),
    url(./images/offers-image-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* --------------- article */
.offer {
    display: flex;
    gap: 132px;
}

.offer_reverse {
    flex-direction: row-reverse;
    gap: 165px;
}

.offer__image-box {
    inline-size: 630px;
    block-size: 460px;
}

.offer__image {
    display: block;
    border-radius: 10px;
    block-size: 100%;
}

.offer__content {
    padding-block-start: 58px;
    max-inline-size: 400px;
}

.offer__content_reverse {
    padding-block-start: 68px;
    max-inline-size: 440px;
}

.offer__title {
    color: #FFF;
    font-family: 'DM-Sans', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -1.8px;
}

.offer__text {
    margin: 23px 0 33px;
    color: #E0E0E0;
    font-family: 'DM-Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.offer__text_reverse {
    max-inline-size: 400px;
}

.offer__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    padding: 17px 41px;
    color: #FFF;
    font-family: 'DM-Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--color-accent);
    inline-size: fit-content;
}


/* ------------------------------- DEMO ------------------------------- */
.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 880px;
    padding-block-start: 120px;
    background: url(./images/demo-cover.png) no-repeat top / cover;
}

/* --------------- article */
.carousel-container {
    display: inline-block;
    margin: 0 auto;
}

.carousel-title {
    color: black;
    font-family: 'DM-sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

/* --------------- carousel */
.carousel {
    position: relative;
    margin-block-start: 38px;
    overflow: hidden;
    block-size: 310px;
    inline-size: 1433px;
}

.carousel__input,
.carousel__controls {
    display: none;
}

.carousel__arrow {
    position: absolute;
    top: 50%;
    display: block;
}

.carousel__arrow--backward {
    cursor: pointer;
}

.carousel__arrow--forward {
    right: 17px;
    cursor: pointer;
}

.arrow-icon-prev,
.arrow-icon-next {
    position: absolute;
    top: 50%;
    z-index: 3;
    display: block;
    margin-top: -39px;
    inline-size: 17px;
    block-size: 25px;
}

/* --------------- ul */
.carousel__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transition: transform 0.5s ease 0s;
}

.carousel__slide {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    overflow-y: auto;
    block-size: 100%;
}

.slider-image {
    display: block;
    inline-size: 405px;
    block-size: 257px;
}

.carousel__list .carousel__slide {
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    opacity: 1;
}

/* --------------- transform */
.carousel__list .carousel__slide:nth-of-type(1) {
    transform: translateX(0%);
}

.carousel__list .carousel__slide:nth-of-type(2) {
    transform: translateX(100%);
}

.carousel__list .carousel__slide:nth-of-type(3) {
    transform: translateX(200%);
}

.carousel__list .carousel__slide:nth-of-type(4) {
    transform: translateX(300%);
}

.carousel__list .carousel__slide:nth-of-type(5) {
    transform: translateX(400%);
}

/* --------------- navigation dots */
.carousel__dots-box {
    position: absolute;
    bottom: 6px;
    display: flex;
    justify-content: center;
    gap: 18px;
    inline-size: 100%;
}

.carousel__dot {
    z-index: 2;
    display: inline-block;
    border-radius: 100%;
    opacity: 0.35;
    background-color: #85A3B2;
    cursor: pointer;
    inline-size: 19px;
    block-size: 19px;
}

.carousel__dot:hover {
    opacity: 0.75;
}

/* --------------- status */
.carousel__input:nth-of-type(1):checked ~ .carousel__list {
    transform: translateX(0%);
}

.carousel__input:nth-of-type(2):checked ~ .carousel__list {
    transform: translateX(-100%);
}

.carousel__input:nth-of-type(3):checked ~ .carousel__list {
    transform: translateX(-200%);
}

.carousel__input:nth-of-type(4):checked ~ .carousel__list {
    transform: translateX(-300%);
}

.carousel__input:nth-of-type(5):checked ~ .carousel__list {
    transform: translateX(-400%);
}

.carousel__input:nth-of-type(1):checked ~ .carousel__controls:nth-of-type(1),
.carousel__input:nth-of-type(2):checked ~ .carousel__controls:nth-of-type(2),
.carousel__input:nth-of-type(3):checked ~ .carousel__controls:nth-of-type(3),
.carousel__input:nth-of-type(4):checked ~ .carousel__controls:nth-of-type(4),
.carousel__input:nth-of-type(5):checked ~ .carousel__controls:nth-of-type(5) {
    display: block;
    opacity: 1;
}

.carousel__input:nth-of-type(1):checked ~ .carousel__dots-box .carousel__dot:nth-of-type(1),
.carousel__input:nth-of-type(2):checked ~ .carousel__dots-box .carousel__dot:nth-of-type(2),
.carousel__input:nth-of-type(3):checked ~ .carousel__dots-box .carousel__dot:nth-of-type(3),
.carousel__input:nth-of-type(4):checked ~ .carousel__dots-box .carousel__dot:nth-of-type(4),
.carousel__input:nth-of-type(5):checked ~ .carousel__dots-box .carousel__dot:nth-of-type(5) {
    border-radius: 60px;
    opacity: 1;
    background-color: var(--color-accent);
    inline-size: 50px;
}

/* --------------- demo content */
.demo__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    padding: 189px 0 210px;
    text-align: center;
    background-color: rgb(2 12 33 / 90%);
}

.demo__title {
    margin-block-end: 24px;
    color: #FFF;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -2.5px;
    text-transform: capitalize;
}

.demo__subtitle {
    color: #E0E0E0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    max-inline-size: 480px;
}

.demo__content-items-box {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.content-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-item__title {
    color: var(--color-accent);
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 0.39px;
}

.title-center {
    margin-inline-start: 35px;
}

.demo__text {
    color: #E0E0E0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    inline-size: 340px;
}

.text-center {
    margin-inline-start: 35px;
    inline-size: 360px;
}


/* ------------------------------- BANNER ------------------------------- */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 248px 0 257px;
    text-align: center;
    background: url(./images/banner-bg-1.png) no-repeat left,
    url(./images/banner-bg-2.png) no-repeat right bottom;
    background-color: #FFF;
}

.banner__title {
    margin-block-end: 32px;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    max-inline-size: 614px;
}

.banner__subtitle {
    margin-block-end: 37px;
    color: #6F7787;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    max-inline-size: 470px;
}

.banner__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    padding: 20px 55px;
    color: #FFF;
    font-family: 'DM-Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--color-accent);
    inline-size: fit-content;
}


/* ------------------------------- VIDEO-SECTION ------------------------------- */
.video-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block-start: 145px;
    padding-block-end: 256px;
    text-align: center;
}

/* --------------- background */
.video-section::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url(./images/video-section-cover.png) no-repeat top / cover;
}

.video-section::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgb(1 10 32 / 50%);
}

/* --------------- title */
.video-section__title {
    margin-block-end: 105px;
    color: #FFF;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    inline-size: 1020px;
}

/* --------------- main video */
.video-section__video-container {
    margin-block-end: 125px;
    inline-size: 1056px;
    block-size: 594px;
}

.video-section__video {
    border: none;
    border-radius: 10px;
}

/* --------------- video list */
.video-section__video-list {
    display: flex;
    gap: 62px;
    inline-size: 1220px;
}

.video-item {
    display: flex;
    gap: 40px;
}

.video-item__video-box {
    inline-size: 233px;
    block-size: 151px;
}

.video-item__content {
    margin-block-start: 4px;
}

.video-item__title {
    margin-block-end: 23px;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: left;
}

.video-item__text {
    color: rgb(255 255 255 / 70%);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    text-align: left;
    min-inline-size: 350px;
}


/* ------------------------------- GALLERY ------------------------------- */
.gallery {
    padding: 160px 375px 230px;
    text-align: center;
    background-color: #FFF;
}

.gallery__title {
    margin-block-end: 20px;
    color: #010A20;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
    letter-spacing: -2.5px;
}

.gallery__text {
    display: inline-block;
    color: #6F7787;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
    inline-size: 511px;
}

/* --------------- image-box */
.gallery__image-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    gap: 30px;
    margin-block-start: 63px;
}

.gallery__image {
    display: block;
    border-radius: 10px;
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
}

.gallery__image:nth-child(1) {
    grid-row: span 3;
}

.gallery__image:nth-child(3) {
    grid-row: span 2;
}

.gallery__image:nth-child(4) {
    grid-column: 1;
}

.gallery__image:nth-child(5) {
    grid-column: 2;
    grid-row: 2 / 5;
}

.gallery__image:nth-child(6) {
    grid-column: 3;
    grid-row: 3 / 5;
}


/* ------------------------------- STEPS ------------------------------- */
.steps {
    padding: 112px 372px 117px 386px;
    background-color: #DCE8F2;
}

.steps__title {
    margin-block-end: 48px;
    color: #010A20;
    font-weight: 700;
    font-size: 60px;
    line-height: 150%;
}

.steps-list {
    counter-reset: title-counter;
}

.steps__item {
    position: relative;
    padding-inline-start: 103px;
    padding-block-end: 96px;
    counter-increment: title-counter;
}

.steps__item:last-child {
    margin-block-start: 5px;
    padding-block-end: 22px;
}

.steps__item-title {
    margin-block-end: 28px;
    color: #010A20;
    font-weight: 700;
    font-size: 26px;
    line-height: 41px;
}

.steps__item-text {
    color: rgb(21 20 57 / 40%);
    font-weight: 400;
    font-size: 23px;
    line-height: 38px;
    letter-spacing: 0.2px;
}

/* --------------- decorated-numbers */
.steps__item::before {
    content: counter(title-counter);
    position: absolute;
    top: -12px;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #FFF;
    font-family: 'DM-sans', sans-serif;
    font-size: 26.5px;
    background-color: var(--color-accent);
    inline-size: 59px;
    block-size: 59px;
}

.steps__item:not(:last-child):after {
    content: '';
    position: absolute;
    top: 0;
    left: 29px;
    background-color: rgb(21 20 57 / 40%);
    inline-size: 3px;
    block-size: 100%;
}

/* --------------- video-section */
.steps__item-video-section {
    display: flex;
    gap: 45px;
    margin-block-start: 100px;
}

.steps__item-title_video-section {
    margin-block-end: 12px;
    counter-increment: none;
}

.steps__item-text_video-section {
    inline-size: 455px;
}

/* --------------- button */
.steps__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 103px;
    border-radius: 32px;
    padding: 20px 55px;
    color: #FFF;
    font-family: 'DM-Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--color-accent);
    inline-size: fit-content;
}